.button {
    display: inline-block;
    border: 1px solid $first-color-0;
    padding: 15px 25px;
    background-color: $first-color-0;
    color: $white;
    font-family: $second-font;
    font-weight: 600;
    transition: all 0.25s;

    @include rfs(16px);

    &:hover {
        color: $first-color-0;
        background-color: transparent;
        text-decoration: none;
    }
    
    &--ghost {
        color: $first-color-0;
        background-color: transparent;

        &:hover {
            color: $white;
            background-color: $first-color-0;
        }
    }
}
