.instruction-header{
    padding: 200px 0 120px 0;
    &__title{
        font-family: $first-font;
        text-align: center;
        color: $white;
        font-family: $second-font;


        @include rfs(40px);
    }
        

}