.e404-header {
    padding: 110px 0;

    &__title {
        font-family: $first-font;
        font-weight: 900;
        text-align: center;
        line-height: 1;

        @include rfs(370px);

        @include media-breakpoint-down (md) {
            @include rfs(120px);
        }
    }

    &__text {
        font-family: $first-font;
        font-weight: 700;
        text-align: center;

        @include rfs(48px);
    }
}
