* {
    box-sizing: border-box;
}

html,
body {
    -webkit-overflow-scrolling: touch;
}

html {
    font-size: 16px;
}

body {
    background-color: $dark;
    color: $white;
    overflow-x: hidden;

    // Wymagane dla stron poniżej wysokości pełnego ekranu
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    font-family: $second-font;
}

.img {
    height: auto;
    max-width: 100%;
}

.icon {
    vertical-align: middle;
}
