// Colors
$first-color: #2f2f2f;
$first-color-lite: #686767;

$second-color: #f9f7f1;

$red: #e11900;
$yellow: #ffc043;
$green: #05944f;

$white: #fff;
$black: #000;

// Fonts
$first-font: 'Montserrat', sans-serif;
$second-font: 'Ubuntu', sans-serif;
