.home-categories {
    padding: 140px 0;

    &__menu {
        // Type something...
    }

    &__menu-item {
        padding: 0 30px;

        &:not(:last-of-type) {
            border-right: 1px solid $white;
        }
    }

    &__menu-link {
        padding: 0;
        border-bottom: 1px solid transparent;
        color: $white;
        font-family: $second-font;
        font-weight: 600;
        transition: border-color 0.25s;

        @include rfs(18px);

        &:hover {
            color: $white;
            border-color: $white;
            text-decoration: none;
        }
    }
}
