.admin-account-content {
    &__title {
        margin-bottom: 16px;
        color: $white;

        @include rfs(24px);
    }

    &__avatar-box {
        padding: 16px;
        background-color: $dark-1;
        color: $white;
        text-align: center;
    }

    &__breaker {
        display: inline-block;
        margin: 16px 0;
        height: 1px;
        width: 100%;
        border: 0;
        background-color: rgba($white, 0.5);
    }

    &__label {
        color: $white;
        font-weight: 700;
    }

    &__input {
        border-radius: 0;
        background-color: transparent;
        color: $white !important;
        transition:
            padding-left 0.25s,
            border-color 0.25s;

        &::placeholder {
            color: $second-color-0;
        }

        &.is-not-empty,
        &:focus,
        &:active {
            box-shadow: unset;
            background-color: transparent;
            border-color: $first-color-0;
        }

        &--textarea {
            resize: none;
        }
    }

    &__input-group-text {
        display: flex;
        width: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }

    &__input-file {
        margin-bottom: 15px;
        color: $white;

        &::file-selector-button {
            @extend .button;
        }
    }
}
