.home-quote {
    padding-bottom: 80px;
    background-color: $dark;

    &__box {
        border: 1px solid rgba($white, 0.25);
        padding: 48px;
    }

    &__text {
        color: $white;
        font-style: italic;
        line-height: 1;

        @include rfs(24px);
    }

    &__text-small {
        margin-bottom: 0;
        color: $white;
        text-align: right;
    }
}
