.admin-users-index {
    padding: 240px 0;

    &__table {
        margin-bottom: 30px;
        color: $white;

        tr {
            background-color: lighten($dark-2, 10);

            &:nth-of-type(even) {
                background-color: lighten($dark-2, 5);
            }
        }

        th {
            border: 0 !important;
            padding: 8px 16px;
            background-color: $dark-2;
        }

        td {
            border: 0;
            padding: 8px 16px;
        }
    }

    &__table-col {
        &--role {
            width: 240px;
        }

        &--actions {
            width: 450px;
        }
    }
}
