.painting-info {
    &__description {
        color: $white;

    }
    
    &__description-title {
        font-family: $first-font;
        @include rfs(52px);
        font-weight: 700;

    }

    &__description-author {
        color: $gray;
        font-family: $second-font;
        font-weight: 400;
        @include rfs(24px);
    }

    &__description-likes {
        font-family: $second-font;
        @include rfs(20px);
    }

    &__description-size {
        @include rfs(20px);
        font-family: $second-font;
    }

    &__description-category {
        font-weight: 400;
        @include rfs(20px);
        font-family: $second-font;   
    }

    &__description-about{
        @include rfs(20px);
    }

    &__description-about-text{
        @include rfs(20px);
    }

    &__description-about-author{
        margin-top: 100px;
    }

    &__description-heart{
        @include rfs(13px);
    }


}