.admin-paintings-content {
    &__title {
        margin-bottom: 16px;
        color: $white;

        @include rfs(24px);
    }

    &__item {
        padding: 16px 0;

        &:not(:last-of-type) {
            border-bottom: 1px solid $white;
        }
    }

    &__item-title {
        margin-bottom: 0;
        color: $white;

        @include rfs(18px);
    }
}
