.painting-others {
    padding-bottom: 120px;
    background-color: $dark;

    &__title {
        display: inline-block;
        width: 100%;
        margin-bottom: 36px;
        padding: 24px 36px;
        border: 1px solid rgba($white, 0.75);
        background-color: rgba($white, 0.05);
        color: $white;
        font-family: $second-font;
        
        @include rfs(36px);
    }

    &__slider {
        overflow: initial;
    }
    
    &__slider-slide {
        height: auto;
    }

    &__slider-button {
        @extend .button;
        @extend .button--ghost;
        @extend .button--big;

        &::after {
            display: none;
        }

        &.swiper-button-disabled {
            pointer-events: none !important;
            opacity: 0.5;
        }
    }
}
