.painting-others {
    padding-bottom: 120px;
    background-color: $dark;

    &__title {
        display: inline-block;
        width: 100%;
        margin-bottom: 36px;
        padding: 24px 36px;
        border: 1px solid rgba($white, 0.75);
        background-color: rgba($white, 0.05);
        color: $white;
        font-family: $second-font;
        
        @include rfs(36px);
    }

    &__slider {
        overflow: initial;
    }
    
    &__slider-slide {
        height: auto;
    }

    &__slider-button {
        height: 80px;
        width: 80px;
        background-color: rgba($dark-1, 0.75);
        border: 2px solid $first-color-0;
        color: $first-color-0;
        opacity: 0.75;
        transition:
            background-color 0.25s,
            color 0.25s,
            opacity 0.25s;

        &.swiper-button-disabled {
            pointer-events: none !important;
            opacity: 0;
        }

        &:hover {
            color: $white;
            background-color: rgba($first-color-0, 0.85);
            opacity: 1;
        }

        &--prev {
            left: -60px;

            @include icon('arrow-right-long', 'after');

            &::after {
                transform: rotate(180deg)
            }
        }

        &--next {
            right: -60px;

            @include icon('arrow-right-long', 'after');
        }
    }
}
