@font-face {
	font-family: "iconfont";
	src: url('../iconfont/iconfont.eot');
	src: url('../iconfont/iconfont.eot?#iefix') format('eot'),
		url('../iconfont/iconfont.woff2') format('woff2'),
		url('../iconfont/iconfont.woff') format('woff'),
		url('../iconfont/iconfont.ttf') format('truetype'),
		url('../iconfont/iconfont.svg#iconfont') format('svg');
}

@mixin icon-styles {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
    text-transform: none;
    line-height: 1;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-long-right {
		$char: "\E001";
	}
	@if $filename == close {
		$char: "\E002";
	}
	@if $filename == code {
		$char: "\E003";
	}
	@if $filename == cookie {
		$char: "\E004";
	}
	@if $filename == earth {
		$char: "\E005";
	}
	@if $filename == hardware-camera {
		$char: "\E006";
	}
	@if $filename == hardware-cpu {
		$char: "\E007";
	}
	@if $filename == hardware-gpu {
		$char: "\E008";
	}
	@if $filename == hardware-hdd {
		$char: "\E009";
	}
	@if $filename == hardware-memory {
		$char: "\E00A";
	}
	@if $filename == hardware-mobo {
		$char: "\E00B";
	}
	@if $filename == hardware-os {
		$char: "\E00C";
	}
	@if $filename == hardware-psu {
		$char: "\E00D";
	}
	@if $filename == hardware-ram {
		$char: "\E00E";
	}
	@if $filename == hardware-screen {
		$char: "\E00F";
	}
	@if $filename == image {
		$char: "\E010";
	}
	@if $filename == link {
		$char: "\E011";
	}
	@if $filename == logo-github {
		$char: "\E012";
	}
	@if $filename == logo-goodreads {
		$char: "\E013";
	}
	@if $filename == logo-lastfm {
		$char: "\E014";
	}
	@if $filename == logo-lockme {
		$char: "\E015";
	}
	@if $filename == logo-lofg {
		$char: "\E016";
	}
	@if $filename == logo-myanimelist {
		$char: "\E017";
	}
	@if $filename == logo-portfolio {
		$char: "\E018";
	}
	@if $filename == logo-psn {
		$char: "\E019";
	}
	@if $filename == logo-xbox {
		$char: "\E01A";
	}
	@if $filename == milestones-bike {
		$char: "\E01B";
	}
	@if $filename == milestones-feather {
		$char: "\E01C";
	}
	@if $filename == milestones-plane {
		$char: "\E01D";
	}
	@if $filename == milestones-trophy {
		$char: "\E01E";
	}
	@if $filename == milestones-video {
		$char: "\E01F";
	}
	@if $filename == milestones-work {
		$char: "\E020";
	}
	@if $filename == rpg-game-master {
		$char: "\E021";
	}
	@if $filename == rpg-system {
		$char: "\E022";
	}
	@if $filename == rpg-times {
		$char: "\E023";
	}
	@if $filename == sport-bike {
		$char: "\E024";
	}
	@if $filename == sport-running {
		$char: "\E025";
	}
	@if $filename == sport-trophy {
		$char: "\E026";
	}
	@if $filename == store-battlenet {
		$char: "\E027";
	}
	@if $filename == store-origin {
		$char: "\E028";
	}
	@if $filename == store-playstation {
		$char: "\E029";
	}
	@if $filename == store-steam {
		$char: "\E02A";
	}
	@if $filename == store-uplay {
		$char: "\E02B";
	}
	@if $filename == store-xbox {
		$char: "\E02C";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-long-right {
	@include icon(arrow-long-right);
}
.icon-close {
	@include icon(close);
}
.icon-code {
	@include icon(code);
}
.icon-cookie {
	@include icon(cookie);
}
.icon-earth {
	@include icon(earth);
}
.icon-hardware-camera {
	@include icon(hardware-camera);
}
.icon-hardware-cpu {
	@include icon(hardware-cpu);
}
.icon-hardware-gpu {
	@include icon(hardware-gpu);
}
.icon-hardware-hdd {
	@include icon(hardware-hdd);
}
.icon-hardware-memory {
	@include icon(hardware-memory);
}
.icon-hardware-mobo {
	@include icon(hardware-mobo);
}
.icon-hardware-os {
	@include icon(hardware-os);
}
.icon-hardware-psu {
	@include icon(hardware-psu);
}
.icon-hardware-ram {
	@include icon(hardware-ram);
}
.icon-hardware-screen {
	@include icon(hardware-screen);
}
.icon-image {
	@include icon(image);
}
.icon-link {
	@include icon(link);
}
.icon-logo-github {
	@include icon(logo-github);
}
.icon-logo-goodreads {
	@include icon(logo-goodreads);
}
.icon-logo-lastfm {
	@include icon(logo-lastfm);
}
.icon-logo-lockme {
	@include icon(logo-lockme);
}
.icon-logo-lofg {
	@include icon(logo-lofg);
}
.icon-logo-myanimelist {
	@include icon(logo-myanimelist);
}
.icon-logo-portfolio {
	@include icon(logo-portfolio);
}
.icon-logo-psn {
	@include icon(logo-psn);
}
.icon-logo-xbox {
	@include icon(logo-xbox);
}
.icon-milestones-bike {
	@include icon(milestones-bike);
}
.icon-milestones-feather {
	@include icon(milestones-feather);
}
.icon-milestones-plane {
	@include icon(milestones-plane);
}
.icon-milestones-trophy {
	@include icon(milestones-trophy);
}
.icon-milestones-video {
	@include icon(milestones-video);
}
.icon-milestones-work {
	@include icon(milestones-work);
}
.icon-rpg-game-master {
	@include icon(rpg-game-master);
}
.icon-rpg-system {
	@include icon(rpg-system);
}
.icon-rpg-times {
	@include icon(rpg-times);
}
.icon-sport-bike {
	@include icon(sport-bike);
}
.icon-sport-running {
	@include icon(sport-running);
}
.icon-sport-trophy {
	@include icon(sport-trophy);
}
.icon-store-battlenet {
	@include icon(store-battlenet);
}
.icon-store-origin {
	@include icon(store-origin);
}
.icon-store-playstation {
	@include icon(store-playstation);
}
.icon-store-steam {
	@include icon(store-steam);
}
.icon-store-uplay {
	@include icon(store-uplay);
}
.icon-store-xbox {
	@include icon(store-xbox);
}
