@import 'setup/variables';

// ======================
// = ACF - Sekcje
// ======================
.admin-panel {
    &__section {
        color: #fff;
        background-color: #363b3f;

        &--lite {
            background-color: #50585d;
        }

        &--ultra-lite {
            background-color: #858c91;
        }

        &--uber-lite {
            background-color: #b7b9bb;
        }

        &--small {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }

        .acf-label {
            margin-bottom: 0 !important;

            label {
                margin-bottom: 0 !important;
            }
        }
    }

    &__hide-label {
        > .acf-label {
            label {
                display: none;
            }
        }
    }

    &__painting-thumbnail {
        height: 90px;
        width: 90px;
        border: 2px solid #353b3f;
        border-radius: 6px;
    }
}

// ======================
// = Tabela
// ======================
.wp-list-table {
    tr {
        th.column-painting_thumbnail {
            width: 90px;
        }
    }
}

// ======================
// = Ikony
// ======================
#adminmenu {
    .menu-icon-painting .wp-menu-image {
        &::before {
            color: #ff7272 !important;
        }
    }
}
