.profile-content {
    $root: &;

    padding: 120px 0;

    &__image-link {
        display: block;
        position: relative;
        margin-bottom: 15px;
        background-color: $white;

        &:hover {
            #{$root}__image {
                transform:
                    translate(-50%, -50%)
                    scale(1.05);
            }
        }
    }

    &__image-box {
        position: relative;
        padding-bottom: calc(85.71428571% - 15px);
        overflow: hidden;
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.25s;
    }
}
