.profile-header {
    padding: 200px 0 120px 0;
    background-color: $dark-1;

    &__avatar {
        
    }

    &__pretitle {
        margin-bottom: 0;
        color: $white;
        font-family: $second-font;

        @include rfs(14px);
    }

    &__title {
        margin-bottom: 0;
        color: $white;
        font-family: $second-font;
        font-weight: 700;

        @include rfs(32px);

        &--smaller {
            color: rgba($white, 0.75);

            @include rfs(24px);
        }
    }

    &__text {
        margin-top: 32px;
        color: $white;
        font-family: $second-font;

        @include rfs(14px);
    }

    &__button-edit {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80px;
        width: 80px;
        background-color: $dark-2;
        color: $white;
        font-weight: 700;
        text-align: center;
        transition: background-color 0.25s;

        &:not(:last-of-type) {
            margin-bottom: 8px;
        }

        &:hover {
            color: $white;
            background-color: $first-color-1;
            text-decoration: none;
        }
    }

    &__button-edit-icon {
        font-size: 24px;
    }
}
