* {
    box-sizing: border-box;
}

html,
body {
    -webkit-overflow-scrolling: touch;
}

html {
    font-size: 16px;
}

body {
    color: $white;
    background-color: $black;
    overflow-x: hidden;
}

p {
    font-family: $first-font;
}

.img {
    height: auto;
    max-width: 100%;
}

.icon {
    vertical-align: middle;
}
