* {
    box-sizing: border-box;
}

html,
body {
    -webkit-overflow-scrolling: touch;
}

html {
    font-size: 16px;
}

body {
    color: $red; // Domyślny kolor służący temu, aby na pierwszy rzut oka było widać, że dany element trzeba jeszcze dostylować ;>
    background-color: $dark;
    overflow-x: hidden;
}

p {
    font-family: $first-font;
}

.img {
    height: auto;
    max-width: 100%;
}

.icon {
    vertical-align: middle;
}
