* {
    box-sizing: border-box;
}

html,
body {
    -webkit-overflow-scrolling: touch;
}

html {
    font-size: 16px;
}

body {
    background-color: #fff;
    overflow-x: hidden;

    &.is-locked {
        overflow: hidden;
    }
}

p {
    font-family: $first-font;
}

.img {
    height: auto;
    max-width: 100%;
}

.icon {
    vertical-align: middle;
}
