// Colors
$first-color: #86c232;
$first-color-dark: #84b124;

$second-color-0: #1c2024;
$second-color-1: #222629;
$second-color-2: #484b4f;
$second-color-3: #6b6e70;

$red: #e11900;
$yellow: #ffc043;
$green: #05944f;

$white: #fff;
$black: #000;

// Fonts
$first-font: 'Raleway', sans-serif;
