// Colors
$first-color-0: #ff7272;
$first-color-1: #f20f4b;
$first-color-2: #8c031c;
$first-color-3: #590209;

$second-color-0: #bfbcbc;

$dark: #0d0d0d;
$dark-1: #05050d;

$red: #e11900;
$yellow: #ffc043;
$green: #05944f;

$white: #fff;
$black: #000;

// Fonts
$first-font: 'PlayfairDisplay', sans-serif;
$second-font: 'Raleway', sans-serif;
