.admin {
    padding: 120px 0;

    &__box {
        border: 2px solid $dark-1;
        background-color: rgba($dark-1, 0.75);
        padding: 48px;
    }

    &__menu {
        border-radius: 0;
    }

    &__menu-item {
        padding: 16px;
        border: 0;
        background-color: transparent;
        color: $white;
        font-weight: 500;
        transition: background-color 0.25s;

        &:not(:last-of-type) {
            border-bottom: 1px solid $white;
        }

        &.active {
            background-color: $first-color-0;
        }
    }

    &__alert {
        margin-bottom: 16px;
        padding: 16px;
        border: 1px solid $white;
        border-radius: 0;
        background-color: rgba($white, 0.03);
        color: $white;
        text-align: center;
        font-weight: 500;

        @include rfs(16px);

        &--success {
            border-color: $green;
            background-color: rgba($green, 0.03);
        }

        &--error {
            border-color: $first-color-0;
            background-color: rgba($first-color-0, 0.03);
        }
    }
}
