.fc-video-youtube {
    $root: &;

    margin-bottom: 32px;

    &__youtube-box {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
    }

    &__youtube-cover-box {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        z-index: 10;

        &.is-hidden {
            display: none;
        }
    }

    &__youtube-button {
        position: relative;
        height: 64px;
        width: 64px;
        border: 0;
        border-radius: 50%;
        background-color: $white;
        z-index: 15;
        transition:
            height 0.25s,
            width 0.25s;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-color: rgba($first-color-lite, 0.48);
            transform: translate(-50%, -50%);
            transition: opacity 0.25s;
        }

        &:hover {
            height: 80px;
            width: 80px;

            &::before {
                opacity: 0;
            }

            + #{$root}__youtube-cover-image-box {
                &::after {
                    background-color: rgba($first-color, 0.24);
                }
            }
        }
    }

    &__youtube-button-icon {
        position: relative;
        color: $first-color;
        line-height: 1;
        z-index: 20;

        @include rfs(26px);
    }

    &__youtube-cover-image-box {
        position: absolute;
        top: 50%;
        left: 50%;
        height: auto;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 5;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($first-color, 0.48);
            transition: background-color 0.25s;
        }
    }

    &__youtube-cover-image {
        height: auto;
        width: 100%;
    }
}
