.fc-text-collapseable {
    $root: &;

    margin-bottom: 56px;

    &__collapse-content {
        position: relative;
        height: 240px;
        padding: 16px 24px 36px 24px;
        border: 2px solid lighten($first-color-lite, 50);
        border-radius: 8px;
        overflow: hidden;
        transition: height 0.25s;

        &.show {
            height: initial;

            #{$root}__collapse-link-text--show {
                display: none;
            }

            #{$root}__collapse-link-text--hide {
                display: inline-block;
            }
        }

        &:not(.show) {
            display: block;
        }
    }

    &__collapse-link {
        position: absolute;
        display: inline-block;
        left: 0;
        bottom: 0;
        height: auto;
        width: 100%;
        padding: 8px 16px;
        background-color: lighten($first-color-lite, 50);
        color: $first-color;
        font-family: $first-font;
        font-weight: 700;
        text-align: center;
        transition: background-color 0.25s;

        @include rfs(16px);

        &:hover {
            background-color: lighten($first-color-lite, 40);
            color: $first-color;
            text-decoration: none;
        }
    }

    &__collapse-link-text {
        &--show {
            display: inline-block;
        }

        &--hide {
            display: none
        }
    }

    &__text-wyswig {
        @extend .fc-text__text-wyswig;
    }
}
