.admin-dashboard-content {
    &__text {
        color: $white;

        a {
            color: $first-color-0;
            border-bottom: 1px solid transparent;
            transition: border-color 0.25s;

            &:hover {
                border-color: $first-color-0;
                text-decoration: none;
            }
        }
    }
}
