.terms-content{
    padding: 20px 0 120px 0;
    &__text{
        font-family: $first-font;
        text-align: left;
        color: $white;
        font-family: $second-font;
        @include rfs(17px);
    }
        
    &__point{
        font-family: $first-font;
        color: $white;
        font-family: $second-font;
        font-weight: 800;
        text-align: left;

        @include rfs(17px);
    }
}