.admin-home-index {
    padding: 240px 0;

    &__title {
        display: inline-block;
        width: 100%;
        margin-bottom: 32px;
        padding: 24px 32px;
        background-color: $dark-2;
        color: $white;
        border-radius: 8px;
        font-family: $second-font;
        font-weight: 700;
        text-align: center;

        @include rfs(32px);
    }

    &__button-edit {
        display: block;
        position: relative;
        background-color: $dark-2;
        color: $white;
        border-radius: 8px;
        font-weight: 700;
        text-align: center;
        transition: background-color 0.25s;

        &:not(:last-of-type) {
            margin-bottom: 8px;
        }

        &:hover {
            color: $white;
            background-color: $first-color-1;
            text-decoration: none;
        }

        &::after {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }

    &__button-edit-content {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    &__button-edit-icon {
        font-size: 24px;
    }
}
