.button {
    display: inline-block;
    border: 1px solid $first-color-0;
    padding: 8px 16px;
    background-color: $first-color-0;
    color: $white;
    font-family: $second-font;
    font-weight: 600;
    transition: all 0.25s;

    @include rfs(16px);

    &:hover {
        color: $first-color-0;
        background-color: transparent;
        text-decoration: none;
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    
    &--ghost {
        color: $first-color-0;
        border-color: $first-color-0;
        background-color: transparent;

        &:hover {
            color: $white;
            background-color: $first-color-0;
        }
    }

    &--ghost-green {
        color: $green;
        border-color: $green;
        background-color: transparent;

        &:hover {
            color: $white;
            background-color: $green;
        }
    }

    &--full {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    &--big {
        padding: 16px 32px;
    }

    &--small {
        padding: 4px 8px;
    }

    &--facebook {
        background-color: transparent;
        border-color: rgba(#4267b2, 0.5);
        color: rgba(#4267b2, 0.75);

        &:hover {
            background-color: #4267b2;
            color: $white;
        }
    }

    &--instagram {
        background-color: transparent;
        border-color: rgba(#833ab4, 0.5);
        color: rgba(#833ab4, 0.75);

        &:hover {
            background-color: #833ab4;
            color: $white;
        }
    }

    &--pinterest {
        background-color: transparent;
        border-color: rgba(#e60023, 0.5);
        color: rgba(#e60023, 0.75);

        &:hover {
            background-color: #e60023;
            color: $white;
        }
    }

    &--tumblr {
        background-color: transparent;
        border-color: rgba(#35465c, 0.5);
        color: rgba(#35465c, 0.75);

        &:hover {
            background-color: #35465c;
            color: $white;
        }
    }

    &--youtube {
        background-color: transparent;
        border-color: rgba(#ff0000, 0.5);
        color: rgba(#ff0000, 0.75);

        &:hover {
            background-color: #ff0000;
            color: $white;
        }
    }

    &--wikipedia {
        background-color: transparent;
        border-color: rgba(#c7c8ca, 0.5);
        color: rgba(#c7c8ca, 0.75);

        &:hover {
            background-color: #c7c8ca;
            color: $white;
        }
    }
}
