.button {
    display: inline-block;
    border: 1px solid $first-color-0;
    padding: 8px 16px;
    background-color: $first-color-0;
    color: $white;
    font-family: $second-font;
    font-weight: 700;
    text-align: center;
    transition: all 0.25s;

    @include rfs(16px);

    &:hover {
        color: $first-color-0;
        background-color: transparent;
        text-decoration: none;
        cursor: pointer;
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    
    &--ghost {
        color: $first-color-0;
        border-color: $first-color-0;
        background-color: transparent;

        &:hover {
            color: $white;
            background-color: $first-color-0;
        }
    }

    &--ghost-green {
        color: $green;
        border-color: $green;
        background-color: transparent;

        &:hover {
            color: $white;
            background-color: $green;
        }
    }

    &--ghost-grey {
        color: $dark-2;
        border-color: $dark-2;
        background-color: transparent;

        &:hover {
            color: $white;
            background-color: $dark-2;
        }
    }

    &--full {
        display: inline-block;
        width: 100%;
    }

    &--big {
        padding: 16px 32px;
    }

    &--small {
        padding: 4px 8px;
    }

    &--social-square {
        display: inline-flex;
        height: 42px;
        width: 42px;
        justify-content: center;
        align-items: center;
        color: $first-color-0;
        border-color: $first-color-0;
        background-color: transparent;

        span {
            font-size: 18px;
        }
    }

    &--facebook {
        &:hover {
            border-color: #4267b2;
            border-color: #4267b2;
            background-color: #4267b2;
            color: $white;
        }
    }

    &--instagram {
        &:hover {
            border-color: #833ab4;
            background-color: #833ab4;
            color: $white;
        }
    }

    &--pinterest {
        &:hover {
            border-color: #e60023;
            background-color: #e60023;
            color: $white;
        }
    }

    &--tumblr {
        &:hover {
            border-color: #35465c;
            background-color: #35465c;
            color: $white;
        }
    }

    &--youtube {
        &:hover {
            border-color: #ff0000;
            background-color: #ff0000;
            color: $white;
        }
    }

    &--wikipedia {
        &:hover {
            border-color: #c7c8ca;
            background-color: #c7c8ca;
            color: $white;
        }
    }
}
