.footer {
    padding: 60px 0;
    background-color: $dark-1;

    &__logo {
        height: auto;
        width: 150px;
    }

    &__text {
        color: $white;
    }

    &__copyrights {
        color: $white;

        @include rfs(12px);
    }
}
