.header {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: rgba($dark-1, 0.25);
    border-bottom: 1px solid $dark-1;
    z-index: 999;

    &__navbar {
        padding: 0;
    }

    &__nav-item {
        padding: 10px 30px;

        &:not(:last-of-type) {
            border-right: 1px solid $white;
        }
    }

    &__nav-link {
        color: $white;
        font-family: $second-font;
        font-weight: 600;
        text-align: center;
        transition: color 0.25s;

        @include rfs(18px);

        &:hover {
            color: $first-color-1;
        }
    }

    &__logo{
        height: auto;
        width: 150px;
    }
}
