.page-default {
    padding: 120px 0;

    &__content-box {
        padding: 60px;
        border: 1px solid $white;
        background-color: rgba($dark-1, 0.5);
    }

    &__title {
        margin-bottom: 32px;
        color: $white;
        font-family: $first-font;
        font-weight: 700;

        @include rfs(48px);
    }

    &__text-wyswig {
        color: $white;
    }
}
